.cart__img_box {
  width: 80px;
}

.cart__img_box img {
  width: 100%;
}

.cart__item_del i {
  cursor: pointer;
}

.cart__page_btn button a:hover {
  color: #fff;
}

.cart__subtotal {
  color: #df2020;
  font-size: 1.5rem;
}
